.header{

    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.anything{
    font-size: 18px;
    color: black;
}
body{

    background-size: cover;
}
#sn{
    margin-top: 0px;
    font-size: 30px;
    color: blue;
    border-radius: 130px;
}
canvas{

    border-radius: 30px;
}